body {
    background-image: url(../../../static/background.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    height: 100vh;
}

nav {
    background-color: #357d89;
    height: 80px !important;
}

a.nav-link {
    color: white !important;
}

a.navbar-brand {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

div.form-group.register {
    width: 50vw !important;
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

h2.register-form {
    text-align: center;
}

form.register-form {
    margin-top: 2vw;
    margin-bottom: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

@media only screen and (max-width: 449px) {
    div.container {
        width: 80vw;
    }
}

@media only screen and (min-width: 450px) {
    div.container {
        width: 60vw;
    }
}

div.container {
    border-style: solid !important;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center !important;
    background-color: rgba(255, 255, 255, 0.7);
}

footer.custom-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:1vw;
    background:#333333;
}