{% extends "users/base.html" %}

{% block title %}
    Activiteiten
{% endblock %}

{% block body %}

<!-- Display all activities that are currently in the database. -->
{% for activiteit in activiteiten %}
<div class="container">
    <div><h3>{{ activiteit.name }}</h3></div>
    <div><p>{{ activiteit.categorie }}</p></div>
    <div><h6><b>Door wie: </b>{{ activiteit.gebruiker.first_name }}</h6></div>
    <div><h6><b>Wanneer: </b>{{ activiteit.datum }}</h6></div>
    <div><h6><b>Hoe laat: </b>{{ activiteit.starttijd }} tot {{ activiteit.eindtijd }}</h6></div>
    <div><h6 style="margin-bottom: 0"><b>Waar:</b></h6></div>
    <div>{{ activiteit.straat }} {{ activiteit.huisnummer }}</div>
    <div>{{ activiteit.postcode }} {{ activiteit.plaats }}</div>
    {% if activiteit.gebouw %}
    <div>Gebouw {{ activiteit.gebouw }}, 
        {% if activiteit.verdieping %}
        verdieping {{ activiteit.verdieping }}
        {% endif %}
    </div>
    {% endif %}
    <div>Voor medebewoners: 
        {% if activiteit.uitgenodigd == True %}
        Ja
        {% endif %}
        {% if activiteit.uitgenodigd == False %}
        Nee
        {% endif %}</div>
    <div><p>{{ activiteit.beschrijving }}</p></div>
    
    <!-- Show 'afmelden'-button if the user is registered for this activity. -->
    {% for aanmelding in aanmeldingen %}
        {% if activiteit == aanmelding.activiteit %}
        <a class="btn btn-info" href="{% url 'afmelden' activiteit.id %}" role="button">Afmelden</a>
        {% endif %}
    {% endfor %}

    <a class="btn btn-info" href="{% url 'aanmelden' activiteit.id %}" role="button">Aanmelden</a>
    <a class="btn btn-info" href="{% url 'overlast' activiteit.id %}" role="button">Overlast</a>
</div> 
<br>
{% endfor %}
{% endblock %}